body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

                                            /* Hero Section */

/* .shape {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    background-color: #706c6f;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    border: none;
    padding: 10px;
    background-color: #3f0303;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    width: 200px;
}

.header {
    height: 600px;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}

img {
    height: 200px;
    width: 200px;
    /* border: 2px solid white; */
}

.head {
    height: 100px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

.text1 {
    text-align: left;
    /* border: 2px solid red; */
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ecd6d6;
}

.hero {
    /* border: 2px solid white; */
    padding: 10px;
    /* width: 800px; */
    display: flex;
    justify-content: center;
}

.heroes {
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    /* height: 500px; */
}

.hero1 {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* height: 400px; */
}

.hero1 h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    /* border: 2px solid white; */
    margin-bottom: -8px;
}

.hero2 img {
    height: 400px;
    width: 400px;
    border-radius: 4px;
}

                                            /* Products Section */
#products {
    /* border: 2px solid #cc1f1f; */
    padding: 10px;
    height: 600px;
}

.main h2, .info h2 {
    color: #3f0303;
}

.main h2 {
    font-weight: 800;
}

.info h2 {
    font-weight: 600;
}

.info p {
    color: #1f2937;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info img {
    height: 240px;
    width: 240px;
    border-radius: 4px;
}

.contents {
    display: flex;
    /* border: 2px solid #cc1f1f; */
    width: 1200px;
}

.info {
    /* border: 2px solid #cc1f1f; */
    width: 250px;
    padding: 10px;
    margin: 15px;
}


                                            /* Testimony */

#testimony {
    /* border: 2px solid #3f0303; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote  {
    display: flex;
    flex-direction: column;
}

.quote .theQ{
    font-weight: 300;
    color: #3f0303;
    font-size: 24px;
    font-style: italic;
    width: 800px;
}

.quote p {
    color: #3f0303;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}