body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.shape {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    background-color: #706c6f;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

button {
    border: none;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    width: 100px;
}

.header {
    height: 600px;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}

.head {
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

.head-text {
    font-size: 24px;
    color: #f9faf8;
}

.text1 {
    text-align: left;
    border: 2px solid red;
    width: 380px;
    font-size: 18px;
    margin-bottom: 8px;
}

.hero {
    border: 2px solid white;
    padding: 10px;
    /* width: 800px; */
    display: flex;
    justify-content: center;
}

.heroes {
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    /* flex: 1; */
    height: 500px;
}

.hero1 {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 400px;
}

.hero1 h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    border: 2px solid white;
    margin-bottom: -8px;
}

.hero2 {
    /* display: flex; */
    border: 2px solid white;
    align-self: center;
    height: 300px;
    padding: 10px;
}