body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.shape {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    background-color: #706c6f;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    padding: 10px;
    color: #5e0539;
    background-color: white;
    font-size: 16px;
    border-radius: 4px;
    width: 80px;
}

.header {
    height: 600px;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}

.head {
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    border: 2px solid white;
    padding: 10px;
    width: 800px;
    display: flex;
    align-items: center;
}